<!DOCTYPE html>
<html lang="en">
<%= render "shared/head" %>
<body>

<!-- Navbar -->
<%= render "shared/navbar" %>

<!-- Sidebar-->
<%= render "shared/sidebar" %>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main " style="margin-left:250px">
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-theme"> Teaching materials </h1>
      <i> To access the teaching materials you must be <b>connected</b> and have been <b>granted authorization</b> to access the resources.</i>
      <br>
      <% if user_signed_in? %>
        <% if admin_user? or access_teaching? %>
          <%= render "chapters/materials" %>
          <% elsif teaching_requested?%>
          <p>Thank you for you interest <b><%= current_user.firstname %></b>, your request will be review as soon as possible.</p>
        <% elsif reject_teaching? %>
          <p><b>We are sorry to inform you that your request has been rejected by the moderators.</b></p>
        <%else %>
          <p>Please fill in the form to request an access to the teaching materials.</p>
          <%= render "teaching_requests/request_form" %>
          <%end %>
        <%else %>
          <p>Please <b><a href="/login">Login</a></b> into your account.</p>
        <%end %>
    </div>
  </div>
</div>


</body>
</html>