<!DOCTYPE html>
<html lang="en">
<%= render "shared/head" %>
<body>

<!-- Navbar -->
<%= render "shared/navbar" %>

<!-- Sidebar-->
<%= render "shared/sidebar" %>



<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main " style="margin-left:250px">
  <div class="w3-row w3-padding-64">
    <div class="w3-container w3-twothird">
      <%= form_with model: @user, url: sign_up_path do |form| %>
        <%= render partial: "shared/form_errors", locals: { object: form.object } %>
        <h1 class="w3-text-theme">Datawarehouse2 account creation</h1>
        <table>
            <tr>
                  <td><%= form.label :firstname %></td>
                  <td><%= form.text_field :firstname, required: true %></td>
            </tr>
            <tr>
                  <td><%= form.label :lastname %></td>
                  <td><%= form.text_field :lastname, required: true %></td>
            </tr>
            <tr>
                  <td><%= form.label :email %></td>
                  <td><%= form.email_field :email, required: true %></td>
            </tr>
            <tr>
                  <td><%= form.label :password %></td>
                  <td><%= form.password_field :password, required: true %></td>
            </tr>
            <tr>
                  <td><%= form.label :password_confirmation %></td>
                  <td><%= form.password_field :password_confirmation, required: true %></td>
            </tr>
      </table>
      <%= form.submit "Sign Up" %>
      <br>
      <h4><a href="/login">Or login to your account</a></h4>
      <% end %>
      </div>
    <div class="w3-third w3-container">
      <div class="w3-border w3-padding-large w3-padding-32 w3-center">
            <h3>Buy the book on Springer !</h3>
            <a href="https://link.springer.com/book/10.1007/978-3-662-65167-4" target="_blank"><%= image_tag "logos/datawarehousecover.webp", :class => "bookcover" %></a>
      </div>
    </div>
  </div>
</div>


</body>
</html>